/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-willow-blocks-pricing-packages-slider-block {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	.slider {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		gap: 3.5rem;
		width: 100%;
		.slider-wrapper {
			width: 100%;
			overflow: hidden;
		}
		.slider-track {
			display: flex;
			flex-wrap: nowrap;
			padding: 2rem 0;
			gap: 1rem;
		}
	}
	.slide {
		padding: 2rem 1rem 3rem 1rem;
		color: #231f20;
		border-radius: 40px;
		border: 1px solid #67201e;
		background: #fff;
		width: 33.33%;
		flex: 0 0 33.33%;
		max-width: 350px;
		position: relative;
		&.is-featured {
			border: 3px solid #f1977c;
		}
	}

	.slide-panel {
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows 0.3s ease;
		overflow: hidden;

		.slide-panel-content {
			min-height: 0;
		}
	}

	& .title {
		color: #67201e;
		font-style: italic;
		font-size: clamp(2.19rem, calc(1.96rem + 1.136vw), 2.81rem);
		margin: 0;
		margin-bottom: 1rem;
		line-height: 0.95;
	}

	p {
		color: #231f20;
		font-family: Helvetica;
		font-size: 1rem;
		font-style: normal;
		font-weight: 400;
		letter-spacing: -0.32px;
		margin: 0;
		margin-bottom: 1rem;
	}

	.price {
		color: #2c4e3f;
		font-family: Helvetica;
		font-size: 20px;
		font-style: normal;
		font-weight: 300;
		letter-spacing: -0.4px;

		.currency,
		.price-value {
			color: #3a4740;
			font-family: "AR One Sans", sans-serif;
			font-size: clamp(2.19rem, calc(1.96rem + 1.136vw), 2.81rem);
			font-style: normal;
			font-weight: 600;
			letter-spacing: -1.8px;
			line-height: 0.95;
		}
	}

	.includes-text {
		color: #231f20;
		text-align: left;
		font-family: Helvetica;
		font-size: 1rem;
		font-weight: 700;
		letter-spacing: -0.32px;
		font-style: italic;
	}

	.list {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		gap: 1rem;

		li {
			display: flex;
			align-items: flex-start;
			gap: 8px;

			&::before {
				content: "";
				display: inline-block;
				width: 21px;
				height: 21px;
				margin-top: 5px;
				flex-shrink: 0;
				background-image: url("../../../assets/images/checkmark-icon.png");
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
		.list-item.is-plus {
			&::before {
				background-image: url("../../../assets/images/open-icon.png");
			}
		}
	}

	.fake-button-container {
		position: absolute;
		bottom: -24px;
		left: 0;
		right: 0;
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		&.top-fake-button {
			bottom: auto;
			top: -24px;
			display: none;
		}
	}

	.slide.is-featured .fake-button-container.top-fake-button {
		display: flex;
	}

	.fake-button {
		display: inline-block;
		padding: 12px 4rem;
		background: #67201e;
		border-radius: 30px;
		color: #fff;
		text-align: center;
		font-family: "Crimson Text", serif;
		font-size: 22px;
		font-style: normal;
		font-weight: 700;
		line-height: 1;
		text-decoration: none;
		cursor: pointer;
	}

	.slide.is-featured {
		.fake-button {
			background: #f1977c;
		}
	}

	.slider-nav {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
	}

	.slider-nav-button {
		appearance: none;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		cursor: pointer;
		img {
			width: 12px;
			height: auto;
		}
		&:hover {
			opacity: 0.5;
		}
	}
}
